.sidebar {
    flex: 1 0 10em;
    max-width: 18em;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    background-color: var(--background-2);
    overflow: auto;
}

/* Wrapping the main content in a div to re-enable margin collapsing within the flex container. */
.sidebarContent {
    margin-inline: 1rem;
}

/* Remove margin from last element, spacing will be governed by flex-gap in .sidebar */
.sidebarContent>*:last-child {
    margin-block-end: 0;
}

.sidebar>footer {
    /* position footer at bottom in flex layout */
    margin-top: auto;
    margin-inline: 0;
    padding: 0.5rem;
    padding-left: 1.15rem;
    background-color: var(--background-3);
}

.pointDisplay {
    margin-block: 0.5rem;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    text-align: center;
    background-color: var(--background-3);
}

.curveToggleContainer {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 1rem 0.5rem;
    align-items: center;
    margin-block: 0.5rem;
    border-radius: var(--border-radius);
    padding-block: 1rem;
    padding-inline: 1.15rem;
    background-color: var(--background-3);
    list-style: none;
}

.curveToggleContainer>li {
    display: contents;
}

.curveToggle {
    display: contents;
}

.themeToggle {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
}