.sidebar {
    flex: 1 0 10em;
    max-width: 18em;
    padding-inline: 1rem;
    background-color: var(--background-2);
    overflow: auto;
}

.pointDisplay {
    margin-block: 0.5rem;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    text-align: center;
    background-color: var(--background-3);
}

.error {
    box-sizing: border-box;
    margin-block: 1.5rem;
    border: 2px solid var(--alert-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    background-color: var(--alert-background);
    color: var(--alert-color);
}

.curveToggleContainer {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 1rem 0.5rem;
    align-items: center;
    margin-block: 0.5rem;
    border-radius: var(--border-radius);
    padding-block: 1rem;
    padding-inline: 1.15rem;
    background-color: var(--background-3);
    list-style: none;
}

.curveToggleContainer>li {
    display: contents;
}

.curveToggle {
    display: contents;
}