.graphContainer {
    position: relative; /* use relative position to establish new containing block */
    width: 90vw;
    height: 80vh;
    background-color: white;
    /* temporary values to show border */
    /* border-width: 1px;
    border-color: black;
    border: solid; */
}

.canvas {
    width: 100%;
    height: 100%;
}

.controlPoint {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    width: 10px;
    height: 10px;
}
