.alert {
    box-sizing: border-box;
    margin-block: 1.5rem;
    border: 2px solid var(--alert-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    background-color: var(--alert-background);
    color: var(--alert-color);
}

.alertSymbol {
    width: 1.75rem;
    height: 1.75rem;
    float: left;
    margin: 0.2rem;
    margin-right: 0.5rem;
}

.checkbox {
    appearance: none;
    display: grid;
    place-content: center;
    margin: 0;
    border: 0.15rem solid currentColor;
    border-radius: 0.15rem;
    color: currentColor;
    width: 1.1rem;
    height: 1.1rem;
}

.checkbox::before {
    content: '';
    filter: brightness(1.4);
    width: .6rem;
    height: .6rem;
    box-shadow: inset 1rem 1rem currentColor;
    /* hide inner box when unchecked */
    display: none;

    /* for windows high contrast mode */
    background-color: CanvasText;
}

.checkbox:checked::before {
    display: unset;
}